{~ui('loader')->js('@attrs.selector')}
<div class="pro-attrs">
<!--{loop $pro_attrs $cat}-->
<dl>
<dt id="pro-attrs-cat-{$cat['id']}" class="xcat" xcat="{$cat['id']}" xrequired="{$cat['required']}">{$cat['name']}</dt>
<dd>
<ul>
<!--{loop $cat['attrs'] $attr}-->
<li id="pro-attrs-item-{$attr['id']}" class="pro-attrs-link" catfrom="{$attr['cat_id']}" attrid="{$attr['id']}" pricemoves="{$attr['price_moves']}" xbinding="{$attr['binding']}">{$attr['name']}</li>
<!--{/loop}-->
</ul>
</dd>
</dl>
<!--{/loop}-->
</div>